body {
    background-color: black;
    display: flex;
    align-content: center;
    
    
}

h1 {
    color: white;
    text-align: center;
    display: flex;
    align-content:center;

}
    

    
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    border-radius: 5px;
    background-image: rgb(143, 137, 137);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    margin: 100px;
    
}

button {
    color: black;
    background-color: white;
    
}